/**
 * SCSS - _wpbooklist-customfields-admin-ui.scss - Holds CSS that is specific to the contents of the Admin containers for all of the CustomFields tabs.
 *
 * @author   Jake Evans
 * @category SCSS
 * @package  Includes/Assets/CSS
 * @version  6.0.0
 */

.wpbooklist-customfields-edit-indiv-container-div{
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    display: block;
    position: relative;
    min-height: 50px;
    width: 97%;
}

 .wpbooklist-customfields-create-input-div, .wpbooklist-customfields-edit-input-div{
 	display: inline-block;
    vertical-align: top;
 }

 .wpbooklist-customfields-edit-input-div{
    margin-left:5px;
    margin-right:5px;
 }

  .wpbooklist-customfields-edit-input-dropdown-div{
    margin-top: 20px;
    width:90%;
 }

.wpbooklist-customfields-edit-input-div input{
    max-width:150px;
}

 .wpbooklist-customfields-edit-input-div input, .wpbooklist-customfields-edit-input-div select, .wpbooklist-customfields-edit-input-div img{
    margin-top: 5px;
 }

 .wpbooklist-customfields-create-input-div-dynamic{
 	display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:300px;
 }

 #wpbooklist-customfields-create-inner-wrapper{
 	text-align:center;
 	margin-top:50px;
 }

 .wpbooklist-customfield-input{
 	width: 200px;
 }

#wpbooklist-customfields-dynamic-html-div{
	text-align: center;
    height: 0px;
    margin-top: 30px;
	opacity:0;
}

#wpbooklist-customfield-input-fieldname-dropdown-option{
	width: 270px;
}

#wpbooklist-customfields-create-drop-down-div{
	position: relative;
}

.wpbooklist-addition-div-customfields{
	position: absolute;
    right: -42px;
    bottom: 8px;
    cursor: pointer;
}

.wpbooklist-addition-div-customfields-add-img-edit{
    position: absolute;
    right: 15px;
    bottom: 20px;
    cursor: pointer;
}

.wpbooklist-addition-div-customfields-cancel{
	right: 0px;
    position: absolute;
    bottom: 8px;
    cursor: pointer;
}

.wpbooklist-addition-div-customfields-delete{
    position: relative;
    top: 5px;
    cursor: pointer;
}

 .wpbooklist-addition-div-img-cancel, .wpbooklist-addition-div-img-delete{
 	width:10px;
 }

.wpbooklist-book-form-indiv-attribute-container-customfields .wpbooklist-icon-image-question-with-link{
    right:10px;
}

.wpbooklist-customfields-edit-indiv-container-div{
    margin-bottom:20px;
}

.wpbooklist-customfields-edit-options{
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.wpbooklist-addition-div-p-edit-options{
    margin: 0px;
    font-size: 10px;
    position: relative;
    top: 50px;
    line-height: 0.9;
}